
*
{
	margin-right: auto;
	margin-left: auto;
	padding:0px 0px;
}
body
{
	background:#294072; 
	font-family: Verdana;
}
.form
{
	width:470px; 
	margin:0 auto; 
	background:#2C2B4A; 
	margin-top:150px;
}
.header
{
	height:44px;
	 background:#17722b;
	}
.header
{
	height:44px; 
	line-height:44px; 
	color:#fff; 
	text-align:center
}
.li 
{

	padding:0 20px; 
	width:10%; 
	text-align:center; 
	color:#0C6; 
	border-radius:3px 0 0 3px;
}
.login span.u
{
	align-items: center;
	padding:0 80px; 
	width:50%; 
	text-align:center; 
	color:#0C6; 
	border-radius:3px 0 0 3px;
	margin-right: auto;
	margin-left: auto;
}
.login
{
	margin-right: auto;
	margin-left: auto;
	padding:0 80px;
}

.text
{
	margin-right: auto;
	margin-left: auto;
	background:#12192C; 
	width:90%; 
	border-radius:0 3px 3px 0; 
	border:none; 
	outline:none; 
	color:#999; 
	font-family:Verdana;
} 
.text ,.login span.u
{
	display:inline-block; 
	vertical-align:top; 
	height:40px; 
	line-height:40px; 
	background:#12192C;
}

.btn
{
	height:40px; 
	border:none; 
	background:#0C6; 
	width:100%; 
	outline:none; 
	font-family:Verdana ,font-size:20px; 
	font-weight:bold; 
	color:#eee; 
	border-bottom:solid 3px #093; 
	border-radius:3px; 
	cursor:pointer;
}
ul li
{
	height:40px; 
	margin:15px 0; 
	list-style:none
}
.span
{
	display:table; 
	width:100%; 
	font-size:14px;
}
.checkbox
{
	display:inline-block; 
	width:50%; 
	color:#CCC;
}
.checkbox a
{
	color:#CCC; 
	text-decoration:none;
	margin-right: auto;
	margin-left: auto;
}
.checkbox:nth-child(2)
{
	text-align:right;
}
.other
{
	margin-right: auto;
	margin-left: auto;
	height:30px;
	line-height:30px;
	display:table; 
	width:100%;
}
.other div
{
	display:inline-block; 
	width:42%; color:#eee; 
	font-size:12px; 
	text-align:center; 
	border-radius:3px;
}
/*.other div.Facebook
{
	font-size:16px; 
	line-height:30px;
}*/
.Facebook
{

	background:#3B5A9A;
	 border-bottom:solid 3px #036;
}
	  .Twitter
{
	  	background:#2CA8D2; 
	 
	  	border-bottom:solid 3px #3399CC;
}

.Sign
{
	width:90%; 
	padding:0 5%; 
	height:50px; 
	display:table; 
	background:#17233B
}
.Sign div
{
	display:inline-block; 
	width:50%; 
	line-height:50px; 
	color:#ccc; 
	font-size:14px;
}
.SignUp
{
	text-align:right;
}
.SignUp a
{
	display:block; 
	background:#096; 
	text-align:center; 
	height:35px; 
	line-height:35px; 
	width:50%; 
	font-size:16px; 
	text-decoration:none; 
	color:#eee; 
	border-bottom:solid 3px #006633; 
	border-radius:3px; 
	font-weight:bold; 
	margin-left:50%
}
@media(max-width:480px)
{ 
	.form
	{
		width:100%;
		}
	}